.edit-text {
    transform: rotate(90deg);
    cursor: pointer;
}

button {
    cursor: pointer;
}

.cancel-edit {
    position: absolute;
    top: 0.75em;
    right: 2em;
}

.button-toggle {
    opacity: 1!important;
    border: gray 1px solid!important;
    border-radius: 1em;
}

.toggle-all-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 65px;
    font-size: 0;
    position: absolute;
    top: -65px;
    left: -0;
}

.toggle-all-2:before {
    content: '❯';
    display: inline-block;
    font-size: 22px;
    color: #949494;
    padding: 10px 27px 10px 27px;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

/** Testing **/

.todo-list .edit {
    display: block!important;
    width: 0;
    padding: 0;
    height: 0;
    border: none;
}

.edit:focus {
    width: calc(100% - 43px)!important;
    padding: 12px 16px!important;
    margin: 0 0 0 43px;
    height: auto!important;
}

.edit:focus + label {
    display: none;
}

